# SPDX-FileCopyrightText: Copyright 2026 OP Pohjola (https://op.fi)
#
# SPDX-License-Identifier: MIT

version: '2'
services:
  demosp:
    container_name: isb-integration-typescript-example
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - ISB_HOST=isb-test.op.fi
      - CLIENT_ID=saippuakauppias
      - 'SPNAME={"fi":"Saippuaa kansalle", "sv":"tvål för folket","en":"Soap for the people"}'
    volumes:
      - ./:/opt/app
      - /opt/app/node_modules
      - /opt/app/dist
    ports:
      - "80:80"
    restart: on-failure
