{{!--
SPDX-FileCopyrightText: Copyright 2026 OP Pohjola (https://op.fi)

SPDX-License-Identifier: MIT
--}}

<h2>{{title}}</h2>
<div class="row">
    <div class="info">
        <p>{{info}}</p>
        <p>{{t "example.info"}}</p>
        <p><a href="https://github.com/op-developer/Identity-Service-Broker-API" target=”_blank”>
            {{t "example.api-link"}}
        </a></p>
    </div>
    {{>example-params }}
</div>
