{{!--
SPDX-FileCopyrightText: Copyright 2026 OP Pohjola (https://op.fi)

SPDX-License-Identifier: MIT
--}}

<li>
  {{#unless isCurrent}}
    <a href="{{href}}">{{text}}</a>
  {{else}}
    {{text}}
  {{/unless}}
</li>
