{{!--
SPDX-FileCopyrightText: Copyright 2026 OP Pohjola (https://op.fi)

SPDX-License-Identifier: MIT
--}}

<div class="idp-button">
    <button type="submit" class="id-button" name="idButton" id="{{ftn_idp_id}}" value="{{ftn_idp_id}}">
        <img src="{{imageUrl}}" alt="{{name}}"/>
    </button>
</div>
