@use "sass:map";
@use 'vars';

.alert {
  position: relative;
  margin: auto;
  width: 95%;
  border-radius: 0.25em;
  overflow: hidden;
  background: vars.$white;
  box-shadow: 0 0.0625em 0.125em 0 rgba(0,0,0,0.36), 0 0 0.25em 0 rgba(0,0,0,0.18);
  text-align: left;
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 0.25em;
    line-height: 2.25;
    font-size: 1.75em;
    font-weight: 600;
    color: white;
    font-family: "OPUX Icons";
  }
  h2, p { margin: 0.25em 0; }
}

$alert-types: (
  info: (
    color: vars.$blue,
    content: "!"
  )
);

@each $type, $defs in $alert-types {
  .alert.-#{$type}:before {
      content: map.get($defs, content);
      background: map.get($defs, color);
    }
}

.disturbanceTitle {
    margin-left: 2em;
}

.disturbanceMessage {
    margin-left: 2.4em;
    margin-top: -1em;
    margin-bottom: 1em;
}
