/*
 * SPDX-FileCopyrightText: Copyright 2026 OP Pohjola (https://op.fi)
 *
 * SPDX-License-Identifier: MIT
 */

$cool-gray: #DCDCDC;
$silver-gray: #BEBEBE;
$dusty-gray: #969696;
$dim-gray: #6E6E6E;
$text-black: #323232;
$orange: #FF6A10;
$blue: #069AF9;
$white: #FFFFFF;
$positive: #00AC32;
$negative: #D00000;

$small: 22em;
$medium: 26em;
$large: 34em;

$s-border: 1px solid $silver-gray;
